
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 1px solid black;
    background-color: #eee;
    border-radius: 50%;
}

.checkmark-baixo {
    position: absolute;
    top: 24px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 1px solid black;
    background-color: #eee;
    border-radius: 50%;
}

.checkmark-middle {
    position: absolute;
    top: 24px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 1px solid black;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container:hover input ~ .checkmark-baixo {
    background-color: #ccc;
}

.container:hover input ~ .checkmark-middle {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #ffffff;
}

.container input:checked ~ .checkmark-baixo {
    background-color: #ffffff;
}

.container input:checked ~ .checkmark-middle {
    background-color: #ffffff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark-baixo:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark-middle:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container input:checked ~ .checkmark-baixo:after {
    display: block;
}

.container input:checked ~ .checkmark-middle:after {
    display: block;
}

.container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #603285;
}

.container .checkmark-baixo:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #603285;
}

.container .checkmark-middle:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #603285;
}

.input{
    padding-top: 35px;
}
@media (max-width: 768px){
    .checkmark{
        top: -51px;
    }

    .cpf-cnpj .checkmark{
        top: 16px;
    }

    .checkmark-middle{
        top: -25px;
    }

    .checkmark-baixo{
        top: 7px;
    }
}