html, body{
    height: 100%;
}

html{
    overflow-x: hidden;
}

body{
    background-color: #ececec;
    overflow-x: hidden;
}

input, input:focus{
    border: 0 !important;
    outline-color: #ffffff;
}

input{
    font-size: 12px;
}

hr{
    margin-top: 8px;
}

h4{
    font-size: 1.1em;
}

.hfull{
    height: 100%;  
}

.flex{
    display: flex;
}

.mauto{
    margin: auto;
}

.v-center{
    align-items: center;
}

.bg-login{
    width: 425px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(201,201,201,1);
}

.max-w-93{
    max-width: 93px;
    width: 100%;
}

.v-middle{
    vertical-align: middle;
}

.icone{
    max-width: 18px;
    width: 100%;
    margin-left: 7px;
}

.logo{
    max-width: 240px;
    width: 100%;
    display: block;
    margin: auto;
}


.mt45{
    margin-top: 45px;
}

.mt40{
    margin-top: 40px;
}

.pb20{
    padding-bottom: 20px;
}

.pb25{
    padding-bottom: 25px;
}

.pb60{
    padding-bottom: 60px;
}

a, a:hover{
    color: #603285 !important;
}

.button{
    color: #ffffff;
    padding: 3px 24px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 12.5px;
}



.w295{
    width: 295px;
}

.w195{
    width: 195px;
}

.bg-roxo{
    background-color: #603285;
}

.bg-rosa{
    background-color: #bd1267;
}

.rosa{
    color: #a11964;
}

.bg-login input{
    padding-left: 17px;
}

.focus div {
    padding-bottom: 10px;
}

.roxo{
    color: #603285;
}

.fs12{
    font-size: 12px;
}

.fs14{
    font-size: 14px;
}

.fs11{
    font-size: 11px;
}

.mt12{
    margin-top: 12px;
}

.boneca{
    position: absolute;
    top: calc(50% - 302px);
    left: calc(50% - 85px);
}

.boneca>img{
    max-width: 170px;
}

.senha{
    display: none;
}

.p65{
    padding: 65px;
}

.p43{
    padding: 43px;
}

.mao{
    position: absolute;
    top: calc(50% - 177px);
    left: calc(50% - 93.5px);
}

.mao>img{
    max-width: 187px;
}


.bold{
    font-weight: bold;
}

.roxo-claro{
    color: #8865a4;
}

.mb40{
    margin-bottom: 40px;
}


.mt5{
    margin-top: 5px;    
}

.mt20{
    margin-top:20px;
}

.mt15{
    margin-top: 15px;    
}

.mt50{
        margin-top: 50px;    
}

.grey{
    color: #929292;
}

.bg-branco{
    background-color: #ffffff;
}

.branco{
    color: white;
}

.bg-gradiente{
    background: linear-gradient(45deg, #603285,#bd1267);
}

.bg-cadastro{
    max-width: 750px;

}

.upper{
    text-transform: uppercase;
}

.padding-form{
    padding: 0px 65px;
    padding-top: 35px;
}

.btn-cadastrar{
    width: 100%;
    color: white;
    padding: 11px;
    font-size: 1em;
}

.form-cadastro hr{
    margin-top: 2px;
    margin-bottom: 15px;    
}
.form-cadastro input{
    font-size: 0.68em;;
}

.cpf-cnpj label{
    margin: 0;
}

.cpf-cnpj input[type=text]{
    width:127px;
}

.cpf-cnpj hr{
    margin-top: 0;
}

label{
    margin-bottom: 0;
}

.sombra{
    box-shadow: 5px 5px 5px rgba(201,201,201,1);
}

.form-cadastro{
    padding: 0 13px;    
}

.conheceu label, .conheceu input{
    margin-bottom: 7px;  
}

.conheceu label{
    margin-left: 5px;
}

.conheceu{
    font-size: 0.7em;;
}

.conheceu p{
    margin-bottom: 8px;
    padding-left: 2px;
}

.termos{
    padding: 10px 0;
    padding-left: 5px;
    padding-top: 55px;
}

.fs072{
    font-size: 0.73em;
}

.label{
    position: absolute;
    left: 39px;
}

.label-middle{
    position: absolute;
    top: 15px;
}

.label-baixo{
    position: absolute;
    left: 39px;
    top: 30px;
}

.input{
    padding-left: 2px;
}

.pl9{
    padding-left: 9px;
}

.block>img{
    display: flex;
    margin: auto;
    max-width: 75%;
    margin-top: 30px;
}

.bg-img-grey{
    background-color: #ececec;
    border: 5px solid #95488a;
    border-radius: 51%;
    width: 161px;
    height: 161px;
}

.pt50{
    padding-top: 50px;
}

.pt45{
    padding-top: 45px;
}

.cadastre img{
    max-width: 65%;
    padding-bottom: 20px;
}

.fs08{
    font-size: 0.8em;
}

.logo-cadastro>img{
    display: block;
    margin: auto;
    max-width: 80%;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.logo-cadastro{
    position: absolute;
    top: calc(50% - 340px);
    left: calc(50% - 145px);
}



.response{
    display: none;
}

.logo-response{
    display: none;
}

@media (max-width: 768px){
    .bg-cadastro{
        margin-top: 0px;
        padding-bottom: 40px;
    }

    html{
        font-size: 150%;
    }

    .full-conhecimento{
        display: none;
    }

    .fs065{
        font-size: 0.65em;
    }

    .response{
        display: block;
        padding-left: 8px;
    }

    .div-cnpj label[for=cnpj]{
        top: 42px;
    }
    .div-cnpj .label{
        top: 43px;
    }

    .form-cadastro .input{
        padding-top: 90px;
    }

    .bg-gradiente{
        padding-right: 0;
        padding-bottom: 25px;
    }

    .cadastre img {
        padding-bottom: 25px;
    }

    .fs1{
        font-size: 1em; 
    }

    .padding-form {
        padding: 0px 45px;
        padding-top: 35px;
    }

    .cpf-cnpj hr {
        width: 252px;
    }   

    .mauto.text-center.pl9 {
        padding: 0 7px;
    }

    .logo-cadastro{
        display: none;
    }

    .div-conheceu{
        display: inline-block;
        padding: 63px 5px;
        width: 49%;
        padding-bottom: 35px;
    }

    .label{
        position: absolute;
        left: 25px;
    }

    .cpf-cnpj .label{
        position: absolute;
        left: 34px;
    }
    
    .label-middle{
        position: absolute;
        left: 25px;
        top: 5px;
    }
    
    .label-baixo{
        position: absolute;
        left: 25px;
        top: 37px;
    }

    .termos {
        padding-top: 0px;
        
    }

    .btn-cadastrar {
        padding: 13px;
        font-size: 0.8em;
        margin-top: 7px;
    }

    .fs06{
        font-size: 0.6em;
    }

    .ptb5{
        padding: 5px 0;
        padding-left: 3px;
    }

    .logo-response{
        display: flex;
        margin: auto;
        max-width: 75%;
        margin-top: 0;      
    }

    .pt60{
        padding-top:60px;
    }
} 